html {
  scroll-behavior: smooth;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.space{margin-top: 180px;}
.space2{margin-top: 170px;}

.header {
  padding: 1px;
  text-align: center;
  background: #1f4f45;
  color: white;
}

.header h1 {
  font-size: 50px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}


.main {
  background-color: #f0eee9;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #5c5c5c;
  width: 50%;
  padding: 20px;
  float: left;
  margin-right: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: left;
  background: #ddd;
}
